<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133055660088-6t4l5jp3ldlfviescbalo5hsp07jdtgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133055660088-6t4l5jp3ldlfviescbalo5hsp07jdtgb</string>
	<key>API_KEY</key>
	<string>AIzaSyDOLwn1tg9zeVHrMBa3efuU5XlLZEJMDnc</string>
	<key>GCM_SENDER_ID</key>
	<string>133055660088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liftwave.liftwave</string>
	<key>PROJECT_ID</key>
	<string>liftwave-6d1fe</string>
	<key>STORAGE_BUCKET</key>
	<string>liftwave-6d1fe.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133055660088:ios:a274143fbf7d6ee202a6cd</string>
	<key>DATABASE_URL</key>
	<string>https://liftwave-6d1fe-default-rtdb.firebaseio.com</string>
</dict>
</plist>